/* styles.css */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
    background-image: url(https://builtin.com/sites/www.builtin.com/files/2024-06/timing-functions-python.png);
}

.stopwatch {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aqua;
}

#display {
    font-size: 48px;
    margin: 20px 0;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: chartreuse;
}

#laps {
    margin-top: 20px;
}

#lapList {
    list-style-type: none;
    padding: 0;
}